html
    head
        head
            meta(charset='utf-8')
            link(href='dist/css/style.css',rel='stylesheet')
            link(href="//fonts.googleapis.com/css?family=Droid+Sans+Mono",rel="stylesheet")
    body
        .wrap
            .game

            .modal-overlay
                .modal
                    h2.winner You WIN!
                    button.restart Play Again

    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    script(src='dist/js/script.js')
